* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  overflow: hidden;
}

.bg{
    /* width: 100vw;
    height: 100vh; */
    width: calc(100vw + 50px);
    height: calc(100vh + 50px);
    background-image: url(../img/1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* z-index: 2; */
    position: absolute;
    /* top: 0;
    left: 0; */
    
   
    top: -30px; /* to go to the center*/
    left: -30px;
    z-index: -1;
    filter: blur(70px);

}
.loading-text{
    color: #fff;
    font-size: 50px;
}
/*start 0      100  opacity1  opacity
(num , inmin, inmax, outmin, outmax){
    return(num-inmin) *(outmax-outmin)/(inmax - inmax)+outmin
    
} */